{% extends './layouts/base.html' %}


{% block content%}

<h1 style="padding: 20px;">Fotos</h1>
<div class="fotos">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
  <img src="https://picsum.photos/300/350" alt="jpg placeholder">
</div>

{% endblock %}