{% load static %}

<footer>
  <img src="{% static 'img/logo.png' %}" alt="logo" width="90">
  <ul>
    <li> <a href="https://www.flaticon.es/iconos-gratis/camara">Icono Camara</a> </li>
    <li> <a href="https://www.flaticon.es/iconos-gratis/camara">Icono Camara</a> </li>
    <li> <a href="https://www.flaticon.es/iconos-gratis/camara">Icono Camara</a> </li>
  </ul>

  <ul>
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="https://instagram.com">Instagram</a></li>
  </ul>
  <ul>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
  </ul>


</footer>