{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>BASE</title>
</head>
<body>
  {# Nav menu extraido #}
  {% include 'layouts/partials/menu.html' %}
  <main>
    <h1>{% block content %}{% endblock%}</h1>
  </main>

  <footer>
    <h3>footer</h3>
  </footer>

</body>
</html>